workdir/data/me/line_126.c
workdir/data/me/line_197.c
workdir/data/me/line_534.c
workdir/data/me/line_594.c
workdir/data/me/line_1043.c
workdir/data/me/line_1106.c
workdir/data/me/line_1570.c
workdir/data/me/line_1636.c
workdir/data/me/line_1798.c
workdir/data/me/line_1865.c
workdir/data/me/line_5933.c
workdir/data/me/line_5994.c
workdir/data/me/line_8142.c
workdir/data/me/line_8797.c
workdir/data/vce/SCE_1_secure_validator_SQL.cpp
workdir/data/vce/SCE_2_zip_code_validation.cpp
workdir/data/vce/SCE_3_free_text_letters_only_py.cpp
workdir/data/vce/SCE_4_int_values.cpp
workdir/data/vce/SCE_5_int_enumeration.cpp
workdir/data/vce/SCE_6_compiled_regex.cpp
workdir/data/vce/SCE_7_user_input_validation.cpp
workdir/data/vce/SCE_8_user_bank_account_validation.cpp
workdir/data/vce/SCE_9_unvalidated_does_something_with_logging.cpp
workdir/data/vce/SCE_10_validated_multithreading.cpp
workdir/data/vce/VCE_1_flag_no_validation.cpp
workdir/data/vce/VCE_2_shell_escape_bash.cpp
workdir/data/vce/VCE_3_arg0_bash.cpp
workdir/data/vce/VCE_4_fails_to_check_for_negative.cpp
workdir/data/vce/VCE_5_null_carries_information.cpp
workdir/data/vce/VCE_6_unvalidated_does_something.cpp
workdir/data/vce/VCE_7_unvalidated_multithreading.cpp
